<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Главная</title>
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/site_styles.css">
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header">
            <div class="site-header__inner">
                <div class="site-header__logo">
                    <img src="images/logo.svg" alt="logo">
                </div>
                <div class="site-header__menu">
                    <ul class="site-header__anchor-menu">
                        <li><a href="block1">HOLD-SG</a></li>
                        <li><a href="block2">МАГАЗИН</a></li>
                        <li><a href="block3">ТРАНСПОРТ</a></li>
                        <li><a href="block4">АКЦИИ</a></li>
                        <li><a href="block5">ПАРТНЕРЫ</a></li>
                        <li><a href="block6">КОНТАКТЫ</a></li>
                    </ul>
                    <div class="site-header__site-langs">
                        <div class="site-header__langs-active">RU</div>
                        <div class="site-header__langs-list">
                            <div class="langs-item"><a href="#">RU</a></div>
                            <div class="langs-item"><a href="#">EN</a></div>
                        </div>
                    </div>
                </div>
                <div class="site-header__contacts">
                    <div class="site-header__contacts-body">
                        <div class="site-header__contacts-phones">
                            <div class="phones-item">
                                <a href="tel:+37369969924">+373 699 699 24</a>
                            </div>
                        </div>
                        <div class="site-header__contacts-mails">
                            <div class="mails-item">
                                <a href="mailto:mail@hold-sg.md">mail@hold-sg.md</a>
                            </div>
                        </div>
                    </div>
                    <div class="site-header__contacts-icon">
                        <img src="images/phone_icon.svg" alt="phone_icon">
                    </div>
                </div>
                <div class="site-header__burgerBtn"></div>
            </div>
        </header>

        <section class="video-block">
            <div class="video-block__inner">
                <div class="video">
                    <!-- <div class="video-block__play-btn"></div> -->
                    <video src="files/granit_video.mp4" poster="images/granit_video_poster.png" muted autoplay  preload="auto" loop playsinline autobuffer></video>
                    <!-- <iframe src="https://www.youtube.com/embed/OFAvAHw6fUU?si=Y3esnC7X7a7s6xPf&controls=0" frameborder="0" controls="false"></iframe> -->
                </div>
                <div class="video-block__socials">
                    <div class="video-block__socials-item">
                        <a href="#" target="_blank">
                            <img src="images/insta_icon.svg" alt="insta_icon">
                        </a>
                    </div>
                    <div class="video-block__socials-item">
                        <a href="#" target="_blank">
                            <img src="images/fb_icon.svg" alt="fb_icon">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="first-block slideInUp wow" id="block1">
            <div class="first-block__inner">
                <div class="first-block__inner-wr">
                    <div class="first-block__logo">
                        <div class="logo">
                            <img src="images/block1_logo.svg" alt="block1_logo">
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="first-block__title"><span>Distribuție</span>  de materiale de&nbsp;construcții</div>
                    <div class="first-block__text">Distribuție  de materiale de construcții, peste 8.000 de poziții în sortiment,  standarde înalte de calitate, propria noastră platformă de vânzare.  Transporturi rutiere, transporturi naționale și internaționale, parc  auto propriu de 9 unități, prioritatea noastră este respectarea  termenelor de livrare și siguranța mărfii.</div>
                </div>
            </div>
        </section>

        <section class="services-block" id="block2">
            <div class="services-block__inner">
                <div class="services-block__inner-wr">
                    <div class="services-block__shop wow slideInLeft">
                        <div class="services-block__shop-title">
                            <div>Магазин</div>строительных материалов 
                        </div>
                        <div class="services-block__shop-images swiper">
                            <div class="shop-slider-wrapper swiper-wrapper">
                                <div class="slider-image swiper-slide">
                                    <img src="images/shop_slider_image.png" alt="shop_slider_image">
                                </div>
                                <div class="slider-image swiper-slide">
                                    <img src="images/slider_big.png" alt="shop_slider_image">
                                </div>
                                <div class="slider-image swiper-slide">
                                    <img src="images/shop_slider_image.png" alt="shop_slider_image">
                                </div>
                                <div class="slider-image swiper-slide">
                                    <img src="images/shop_slider_image.png" alt="shop_slider_image">
                                </div>
                                <div class="slider-image swiper-slide">
                                    <img src="images/shop_slider_image.png" alt="shop_slider_image">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="services-block__shop-body">
                            <div class="services-block__shop-text">Distribuție  de materiale de construcții, peste 8.000 de poziții în sortiment,  standarde înalte de calitate, propria noastră platformă de vânzare.  Transporturi rutiere, transporturi </div>
                            <div class="services-block__shop-links">
                                <div class="links-item">
                                    <a href="#">Электрика, инструмент</a>
                                </div>
                                <div class="links-item">
                                    <a href="#">Сантехника</a>
                                </div>
                                <div class="links-item">
                                    <a href="#">Металл</a>
                                </div>
                                <div class="links-item">
                                    <a href="#">Общестроительные материалы</a>
                                </div>
                                <div class="links-item">
                                    <a href="#">Песок, щебень</a>
                                </div>
                                <div class="links-item">
                                    <a href="#">Пиломатериалы</a>
                                </div>
                                <div class="links-item">
                                    <a href="#">Цемент</a>
                                </div>
                                <div class="links-item">
                                    <a href="#">Отделочные материалы</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="services-block__transport wow slideInRight">
                        <div class="services-block__transport-title">
                            <div>Международный </div>транспорт
                        </div>
                        <div class="services-block__transport-list">
                            <div class="list-item">
                                <div class="list-item__titles">
                                    <div class="title">Национальные перевозки общих грузов</div>
                                    <div class="title">Национальные перевозки сыпучих и зерновых грузов</div>
                                </div>
                                <div class="list-item__icon">
                                    <img src="images/logistics_icon.svg" alt="logistics">
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-item__titles">
                                    <div class="title">Локальные перевозки</div>
                                    <div class="title">Услуги спец. техники</div>
                                </div>
                                <div class="list-item__icon">
                                    <img src="images/tipper_icon.svg" alt="tipper">
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="list-item__titles">
                                    <div class="title">Международные перевозки общих грузов</div>
                                    <div class="title">Международные перевозки сыпучих и зерновых грузов</div>
                                </div>
                                <div class="list-item__icon">
                                    <img src="images/international_icon.svg" alt="international">
                                </div>
                            </div>
                        </div>
                        <div class="services-block__transport-slider swiper">
                            <div class="slider-wrapper swiper-wrapper" id="lightgallery">
                                <div class="slider-item swiper-slide">
                                    <div class="big_image">
                                        <a href="images/slider_big.png">
                                            <img src="images/slider_big.png" alt="slider_big">
                                        </a>
                                    </div>
                                    <div class="small_images">
                                        <div class="small-item">
                                            <a href="images/small_1.jpg">
                                                <img src="images/small_1.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_2.jpg">
                                                <img src="images/small_2.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_3.jpg">
                                                <img src="images/small_3.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_4.jpg">
                                                <img src="images/small_4.jpg" alt="small">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item swiper-slide">
                                    <div class="big_image">
                                        <a href="images/small_1.jpg">
                                            <img src="images/small_1.jpg" alt="small">
                                        </a>
                                    </div>
                                    <div class="small_images">
                                        <div class="small-item">
                                            <a href="images/slider_big.png">
                                                <img src="images/slider_big.png" alt="slider_big">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_2.jpg">
                                                <img src="images/small_2.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_3.jpg">
                                                <img src="images/small_3.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_4.jpg">
                                                <img src="images/small_4.jpg" alt="small">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item swiper-slide">
                                    <div class="big_image">
                                        <a href="images/small_3.jpg">
                                            <img src="images/small_3.jpg" alt="small">
                                        </a>
                                    </div>
                                    <div class="small_images">
                                        <div class="small-item">
                                            <a href="images/small_1.jpg">
                                                <img src="images/small_1.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_2.jpg">
                                                <img src="images/small_2.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/slider_big.png">
                                                <img src="images/slider_big.png" alt="slider_big">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_4.jpg">
                                                <img src="images/small_4.jpg" alt="small">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item swiper-slide">
                                    <div class="big_image">
                                        <a href="images/small_4.jpg">
                                            <img src="images/small_4.jpg" alt="small">
                                        </a>
                                    </div>
                                    <div class="small_images">
                                        <div class="small-item">
                                            <a href="images/small_1.jpg">
                                                <img src="images/small_1.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_2.jpg">
                                                <img src="images/small_2.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_3.jpg">
                                                <img src="images/small_3.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/slider_big.png">
                                                <img src="images/slider_big.png" alt="slider_big">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item swiper-slide">
                                    <div class="big_image">
                                        <a href="images/small_2.jpg">
                                            <img src="images/small_2.jpg" alt="small">
                                        </a>
                                    </div>
                                    <div class="small_images">
                                        <div class="small-item">
                                            <a href="images/small_1.jpg">
                                                <img src="images/small_1.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/slider_big.png">
                                                <img src="images/slider_big.png" alt="slider_big">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_3.jpg">
                                                <img src="images/small_3.jpg" alt="small">
                                            </a>
                                        </div>
                                        <div class="small-item">
                                            <a href="images/small_4.jpg">
                                                <img src="images/small_4.jpg" alt="small">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="offers-block slideInUp wow" id="block3">
            <div class="offers-block__inner">
                <div class="offers-block__inner-wr">
                    <div class="offers-block__left">
                        <div class="offers-block__title">
                            <div>Наши</div> предложения
                        </div>
                        <div class="offers-block__text">Distribuție  de materiale de construcții, peste 8.000 de poziții în sortiment,  standarde înalte de calitate, propria noastră platformă de vânzare.  Transporturi rutiere, transporturi </div>
                        <div class="offers-block__arrows">
                            <div class="swiper-button-prev slider-button"></div>
                            <div class="swiper-button-next slider-button"></div>
                        </div>
                    </div>
                    <div class="offers-block__slider swiper">
                        <div class="swiper-wrapper">
                            <div class="slider-item swiper-slide">
                                <div class="slider-item__image">
                                    <img src="images/offer_slide.png" alt="offer_slide">
                                </div>
                                <div class="slider-item__body">
                                    <div class="slider-item__title">Принимая во внимание показатели успешности, существующая теория является качественно новой </div>
                                    <div class="slider-item__text">Являясь всего лишь частью общей картины, базовые сценарии поведения пользователей ограничены исключительно образом мышления. Принимая во внимание показатели успешности, существующая </div>
                                    <div class="slider-item__bottom">
                                        <div class="slider-item__date">10.04 - 20.08.2024</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item swiper-slide">
                                <div class="slider-item__image">
                                    <img src="images/offer_slide.png" alt="offer_slide">
                                </div>
                                <div class="slider-item__body">
                                    <div class="slider-item__title">Заголовок слайда 2</div>
                                    <div class="slider-item__text">Текст под заголовком 2</div>
                                    <div class="slider-item__bottom">
                                        <div class="slider-item__date">дата слайд 2</div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item swiper-slide">
                                <div class="slider-item__image">
                                    <img src="images/offer_slide.png" alt="offer_slide">
                                </div>
                                <div class="slider-item__body">
                                    <div class="slider-item__title">Заголовок слайда 3</div>
                                    <div class="slider-item__text">Текст под заголовком 3</div>
                                    <div class="slider-item__bottom">
                                        <div class="slider-item__date">дата слайд 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="big-slider slideInUp wow" id="block4">
            <div class="big-slider__inner">
                <div class="big-slider__title">
                    <h1 class="title">Крупнейший магазин строительных материалов регион</h1>
                    <div class="big-slider__arrows">
                        <div class="swiper-button-prev slider-button"></div>
                        <div class="swiper-button-next slider-button"></div>
                    </div>
                </div>
                <div class="big-slider__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="big-slider__slider-item swiper-slide">
                            <img src="images/DJI_0695.JPG" alt="slide1">
                        </div>
                        <div class="big-slider__slider-item swiper-slide">
                            <img src="images/DJI_0694.JPG" alt="slide2">
                        </div>
                        <div class="big-slider__slider-item swiper-slide">
                            <img src="images/DJI_0688.JPG" alt="slide3">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="partners-block slideInUp wow" id="block5">
            <div class="partners-block__inner">
                <div class="partners-block__inner-wr">
                    <div class="partners-block__title">ПАРТНЕРЫ</div>
                    <div class="partners-block__list">
                        <div class="swiper">
                            <div class="swiper-wrapper grid-container">
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/supraten.jpeg" alt="partner1">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/uniplast.png" alt="partner1">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/bpm-cement.jpg" alt="partner1">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/catadeni-lux.jpg" alt="partner2">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/profmetgrup.jpg" alt="partner3">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/cheton.png" alt="partner4">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/giramondo.png" alt="partner5">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/le_bridge.jpeg" alt="partner6">
                                </div>
                                <div class="partners-block__item swiper-slide">
                                    <img src="images/premium-profil.png" alt="partner7">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fleet-slider slideInUp wow">
            <div class="fleet-slider__inner">
                <div class="fleet-slider__title-wr">
                    <div class="fleet-slider__title">
                        <div class="title">Наш автопарк, доставка материалов по всем направлениям</div>
                        <div class="fleet-slider__arrows">
                            <div class="swiper-button-prev slider-button"></div>
                            <div class="swiper-button-next slider-button"></div>
                        </div>
                    </div>
                </div>
                <div class="fleet-slider__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="fleet-slider__item swiper-slide">
                            <img src="images/fleet1.jpg" alt="fleet1">
                        </div>
                        <div class="fleet-slider__item swiper-slide">
                            <img src="images/IMG_20190629_170751.jpg" alt="IMG_20190629_170751">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="form-block slideInUp wow">
            <div class="form-block__inner">
                <form action="POST">
                    <div class="form-block__title">
                        <div>Заказ транспорта </div>и строительных материалов
                    </div>
                    <div class="form-inner">
                        <div class="form-field">
                            <input type="text" placeholder="Ваша почта" required>
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Номер телефона" required>
                        </div>
                        <div class="form-field form-button">
                            <input type="submit" value="Отправить">
                        </div>
                        <div class="form-field type-checkbox">
                            <label>
                                <input type="checkbox" required checked>
                                <span>Согласен с политикой конфиденциальности</span>
                            </label>
                        </div>
                    </div>
                    <div class="form_success"></div>
                </form>
            </div>
        </section>

        <footer class="site-footer slideInUp wow" id="block6">
            <div class="site-footer__inner">
                <div class="site-footer__top">
                    <div class="site-footer__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.0958204068384!2d28.88782831162286!3d47.038350526925086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c88e28b51c3%3A0xb6e27fb29ab9c1fd!2zMSwgQnVsZXZhcmR1bCBNaXJjZWEgY2VsIELEg3Ryw65uIDUsIENoaciZaW7Eg3UsINCc0L7Qu9C00L7QstCw!5e0!3m2!1sru!2s!4v1717724524638!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="site-footer__contacts">
                        <div class="site-footer__address">
                            <div class="site-footer__address-icon">
                                <img src="images/address_icon.svg" alt="address_icon">
                            </div>
                            <div class="site-footer__address-title">ул, Bulevardul Mircea cel Bătrîn 5/1, MD-2100, Кишинев, Молдова</div>
                        </div>
                        <div class="site-footer__contacts-items">
                            <div class="site-footer__contacts-item">
                                <div class="site-footer__contacts-icon">
                                    <img src="images/contacts_icon.svg" alt="contacts_icon">
                                </div>
                                <div class="site-footer__contacts-body">
                                    <div class="title">Бухгалтерия</div>
                                    <div class="phones">
                                        <div class="item">
                                            <a href="tel:+373 69117710">+373 69117710</a>
                                        </div>
                                    </div>
                                    <div class="mails">
                                        <div class="item">
                                            <a href="mailto:holdsgsrl@hold-sg.md">holdsgsrl@hold-sg.md</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="site-footer__contacts-item">
                                <div class="site-footer__contacts-icon">
                                    <img src="images/contacts_icon.svg" alt="contacts_icon">
                                </div>
                                <div class="site-footer__contacts-body">
                                    <div class="title">Магазин розничной торговли</div>
                                    <div class="phones">
                                        <div class="item">
                                            <a href="tel:+373 69969924">+373 69969924</a>
                                        </div>
                                    </div>
                                    <div class="mails">
                                        <div class="item">
                                            <a href="mailto:holdsginfo@hold-sg.md">holdsginfo@hold-sg.md</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="site-footer__contacts-item">
                                <div class="site-footer__contacts-icon">
                                    <img src="images/contacts_icon.svg" alt="contacts_icon">
                                </div>
                                <div class="site-footer__contacts-body">
                                    <div class="title">Закупки</div>
                                    <div class="phones">
                                        <div class="item">
                                            <a href="tel:+373 79969509">+373 79969509</a>
                                        </div>
                                    </div>
                                    <div class="mails">
                                        <div class="item">
                                            <a href="mailto:holdsginfo@hold-sg.md">holdsginfo@hold-sg.md</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="site-footer__contacts-item">
                                <div class="site-footer__contacts-icon">
                                    <img src="images/contacts_icon.svg" alt="contacts_icon">
                                </div>
                                <div class="site-footer__contacts-body">
                                    <div class="title">Международные грузоперевозки</div>
                                    <div class="phones">
                                        <div class="item">
                                            <a href="tel:+373 69504164">+373 69504164</a>
                                        </div>
                                    </div>
                                    <div class="mails">
                                        <div class="item">
                                            <a href="mailto:holdsgsrl@hold-sg.md">holdsgsrl@hold-sg.md</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-footer__copy">
                    <div class="site-footer__site-copy">© 2024 «HOLD-SG» Все права защищены | <a href="#">Cookie-файлы</a></div>
                    <div class="site-footer__design-copy">Designed and Developed GoLive Solutions</div>
                </div>
            </div>
        </footer>
    </div>

<div class="to-top-btn">
    <a href="javascript:void(0);"></a>
</div>

<div class="burger_menu">
    <div class="burger_menu__closer"></div>
    <div class="burger_menu__inner">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="js/app.js"></script>
</body>
</html>